<a href="https://colab.research.google.com/github/dtoverholt/R/blob/master/Concepts%2C_modules%2C_libraries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Agenda

**1. Connect colab to your gitub:** 

File ---> save a copy to gitub

Select the repo name (fuzzy-octo)

Best practice: change the commit message to something relevant to your progress ... i.e. "fixed infinite loop", "print statements", "function scope", etc

You should make another colab with your own notes in your own words, push that to the repo too.

**Concepts**

***Need to know***
1. Print statements & Comments
2. Variables + Types
3. Math Operations
4. Type Conversion
3. String Methods
6. Lists & List Methods
7. Lists
8. Conditionals
9. Loops + Counters
10. Functions + Scope

***Nice to know***
11. User input (fun, can add interactivity to maps. can make games)
12. Tuples
13. Dictionaries
14. Classes (advanced - essential for creating large data structures/apps, generally non-essential for datascience & maps)

**Modules**

***need to know:***
1. Math
2. Stats
3. CSV

***nice to know***
4. Counter
5. Time
6. Random

# Concepts

# **Print Statements**

**Syntax**

*condition 1: you want to print letters*

print("your word/sentence/ letters here")

*condition 2: you want to print numbers*

print(your number here)

Print statements are the easiest thing to learn but will end up being the most important thing to use everytime you code something. When you make a function, do math, loop through something, etc, print statements are the way you check whether or not your code is doing what you want it to. 

Never write more than 10 lines of code (for now) without using a print statement to check your progress. That is, always test early & test often. Men never do this and then wonder why they spend so much time debugging. Channel the divine femme to save time & frusteration.

In [ ]:
# condition 1: letters/words/sentences (strings) go inside quotation marks. 
print("hello world")

hello world

In [ ]:
# condition 2: numbers
print(5)
print(5+10) # you can also do math ops inside of print statements
print(5**2)

5
15
25

*Handling different types in a print statement*

When you want to print out things of different types in a print statement (let's say a string and an integer), you need to use either the "," (comma) delimiter.

In [ ]:
# example:
print("I am", 21, "years old")

# you can also do this with variables
# this is called string concatenation
name = "Bella"
age = 21
print("My name is",name, "I am",age, "years old")

I am 21 years old
My name is Bella I am 21 years old

**Practice:**

Print your name

Print out the number 10 using two numbers and the + operator

In [ ]:
# your code here

print("Dane")

print(7+3)

Dane
10

*comments*

In [ ]:
# This is single line a comment. Use a hashtag to start one. Comment your code as much as possible. 
"""
This is a multi-line comment
Also called a block comment
Comment even when you think your work is self explanatory. 
When you revisit the stuff you thought was self explanory at a later date it won't be anymore--
If you run this cell without the print statement you will see the block comment
Try running it with & without the below print statement (uncomment it to run it without)
"""

# print('hi')

"\nThis is a multi-line comment\nAlso called a block comment\nComment even when you think your work is self explanatory. \nWhen you revisit the stuff you thought was self explanory at a later date it won't be anymore--\nIf you run this cell without the print statement you will see the block comment\nTry running it with & without the below print statement (uncomment it to run it without)\n"

# **Variables & Types**

The most important types to know are the primitive data types:

There are four primitive types in python:

1. integers (whole numbers)

2. floats (numbers containing decimals)

3. strings (letters,words,sentences)

4. Booleans (True/Flase)

To check the type of something, you use the type() function

In [ ]:
""" run this cell, notice that only the last line prints to the console.
 This concept will be revived with return statements when you learn functions
  """
type(1)
type(1.2)
type("a") # this is the only type to use quotation marks with
type(False)

bool

**Practice**

Assign the above values to variable names. Use string concatination to print out all the values

ex: 

integer = type(1)

float = type (1.2)

... etc

print(integer,float.... etc)


you'll notice that the outputs don't look the same as they are without print statements... dw about it. This kind of thing will reoccur when you learn dataframes. This has to do with the fact that python is OO (object oriented). We'll address that later

In [ ]:
# your code here

integer = type(1)
myfloat = type(1.2)
string = type("a")
bools = type(False)

print(integer, myfloat, string, bools)

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

Variables are how you store values. You assign values to variable names for you to access them later.

In [ ]:
# examples of variables
name = "Bella"
age = 21

**Practice**

assign variables like the ones above but with your info


use string concat to print out your name and age in the same print statment

In [ ]:
# your code here

bestfriend = "Bella"
daysicanlivewithouther = 0

# Math Operations

These are the syntax for the math operations you need to know

modulo: % (returns the remainder)

divide: /

multiply: *

exponents: ** (to the power of)

add: +

subtract: -

In [ ]:
# examples
num = 20
even_or_odd = number % 2
exp = num ** 2 # (20 to the power of 2)

**Practice**

In a new cell, assign the variable num to a new value (python has auto garbage collection meaning you're allowed to redefine variables with no overhead)

copy the variable even_or_odd


 Change the num variable to check whether the number is even or odd . Print out the variable even_or_odd. If it prints 0, the number is even, if it prints not 0, the number is odd. You will use the modulo operator often to determine if things are even or odd.

In [ ]:
# your code here

# **Type Conversion**

You can switch between types. You'll need this for dataframes & CSV files. You'll also need it if you ever want to accept user input.

Operations:

float()

str()

int()

In [ ]:
# example
s = "1" # s is a string
print("before conversion",type(s))
s = float(s) # change to a float
s = int(s) # convert s to an integer
print("after conversion", type(s)) # s is an integer
s = str(s) # convert back to a string
print("after second conversion", type(s)) # s is a string again

before conversion <class 'str'>
after conversion <class 'int'>
after second conversion <class 'str'>

You can also use type conversion to round numbers. You do this by turning a float into an integer

Run the cell below to use the output

In [ ]:
my_float = 5.2
my_int = int(5.2)
print(my_int)

5
<class 'int'>

**Practice**

Assign a variable to a number of the float type (ex. my_num = 5.2)

Floats can be either whole numbers or decimals, for this problem, make your number a decimal

change the variable to a int, then to an string, then back to an int

Lastly, change your number back to a float. Is it the same as the original float you declared? If not, why do you think this happened?

In [ ]:
# your code here

# **String Methods**

Now you're done with the easiest parts. This is where you learn about indexing

In [ ]:
my_string = "hello world"

Indexing is